.link {
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 12px;
}

.active {
  border-bottom: 3px solid white;
}

.tab:hover {
  border-bottom: 3px solid white;
}

.wallet {
  color: white;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.button {
  padding: 8px;
  border-radius: 100px;
}